<div class='menu-wrapper'>
    <button class="menu-btn" [ngClass]="{'active': active==0}" routerLink="/home"> Clinics</button>
    <button class="menu-btn" [ngClass]="{'active': active==1}" routerLink="/doctors"> Doctors</button>
    <button class="menu-btn" [ngClass]="{'active': active==2}"> </button>
    <div class="login-btn-wrapper" *ngIf="!user">
        <button class="login-btn default-btn" routerLink="/login"> Sign in</button>
        <button class="register" routerLink="/login">Sing up</button>
    </div>
    <div class="profile" *ngIf="user">
        <div class="profile-img" [matMenuTriggerFor]="menu">
            <img [src]="user.profileImage">
        </div>
        <div class="menu-trigger" *ngIf="user" [matMenuTriggerFor]="menu">
            {{user.name ? user.name : user.firstName + ' ' + user.lastName}}</div>
        <mat-menu #menu>
            <button mat-menu-item (click)="logout()"> Log out</button>
            <button mat-menu-item [routerLink]="profileRoute">My profile</button>
        </mat-menu>
    </div>
</div>