@mixin custom-card($width, $padding, $background) {
  mat-card {
    width: $width;
    padding: $padding;
    background: $background;
  }
}

@mixin list-card($height) {
  mat-card {
    border-radius: 0;
    box-sizing: border-box;
    height: $height;
    position: relative;
    margin: auto;
  }
}
