@import "../../../styles/variables.scss";

mat-form-field {
  width: 100%;
}
mat-dialog-content {
  padding: 4% 8%;
}
mat-dialog-actions {
  padding: 4% 8%;
  .close {
    background-color: white;
    color: #7382bf;
    margin-right: auto;
  }
  .submit {
    background-color: #7382bf;
    color: white;
    border: none;
    margin-left: auto;
  }
}

button {
  border-radius: 5px;
  border: 2px solid #7382bf;
  cursor: pointer;
  padding: 10px 32px;
  text-transform: uppercase;
  font-weight: 700;
}
.details {
  color: lighten($default-btn-background, 20%);
  padding: 32px 0;
  div {
    padding: 16px 0;
    span {
      color: gray;
      margin-right: 16px;
      display: inline-block;
      min-width: 100px;
    }
  }
}
.image {
  width: 100%;
  height: 100%;
  max-height: 60vh;

  img {
    height: 100%;
    width: 100%;
    object-fit: scale-down;
    max-height: 58vh;
  }
}

.close-icon {
  color: gray;
  cursor: pointer;
  float: right;
}
