<app-menu [active]="0"></app-menu>
<app-side-nav [buttons]="sideNavButtons" (active)="clickSideNav($event)"></app-side-nav>
<div class="content">
  <div *ngIf="activeButtons[0]">
    <div *ngIf="clinic"> {{clinic.name}}</div>
    <button (click)="updateClinic()">Edit</button>
  </div>
  <div *ngIf="activeButtons[1]">


    <button>
      <fa-icon [icon]="plus"></fa-icon> Add doctor
    </button>
    <div class="doctors">
      <div class="field-buttons">
        <button *ngFor="let field of clinic.fields">{{field}}</button>
      </div>
      <div class="doctor-list">
        <div class="doctor" *ngFor="let doctor of doctors">
          <div class="doctor-details" *ngIf="doctor.field == field">
            {{doctor.email}}
          </div>
        </div>
      </div>
    </div>

  </div>





  <div *ngIf="activeButtons[2]">
    <div class="app-calendar">
      <app-calendar [appointments]="appointments" (clickDay)="clickCalendar($event)"></app-calendar>
      <mat-accordion *ngIf="selectedDateAppointments && selectedDateAppointments.length > 0 ">
        <mat-expansion-panel class="appointments" *ngFor="let hour of workingHours">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{hour}}
            </mat-panel-title>
            <mat-panel-description>
              {{countAppointments(hour,selectedDateAppointments) > 0 ? (countAppointments(hour,selectedDateAppointments) + ' appointments'): ''}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div *ngFor="let app of selectedDateAppointments">
            <div class="appointment" *ngIf="app.hour == hour">
              <div><span>Date: </span>{{formatDate(app.date)}}</div>
              <div><span>Patient: </span>{{app.user.name}}</div>
              <div><span>Doctor: </span>{{app.doctor.name}}</div>
              <div><span>Clinic: </span>{{app.clinic.name}}</div>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>