<mat-card>
    <mat-card-header-text>
        <mat-card-title-group>
            <mat-card-title>
                {{clinic.name}}
            </mat-card-title>
            <img mat-card-avatar [src]="clinic.profileImage">
            <mat-card-subtitle>
                {{clinic.name}}
            </mat-card-subtitle>
        </mat-card-title-group>
    </mat-card-header-text>
    <mat-divider></mat-divider>




    <mat-card-content>
        <div class="stars">
            <fa-icon [icon]="faStar" size="2x"></fa-icon>
            <span> {{clinic.reviews.stars}}</span>
            <div> Reviewed by {{clinic.reviews.totalReviews}}</div>
        </div>
        <p>
            <fa-icon class="icon" [icon]="locationIcon"></fa-icon>{{clinic.city.name}}, {{clinic.county.name}}
        </p>
    </mat-card-content>


</mat-card>