@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  .search-input {
    display: block;
    margin: 32px auto;
    position: relative;
    width: 30%;
    .icon {
      color: gray;
      position: absolute;
      right: 0;
    }
  }
  .clinic-list {
    width: 60%;
    margin: 32px auto;
    .clinic {
      cursor: pointer;
      position: relative;
      margin: 16px auto;
      width: 80%;
      transition: all 0.2s;

      &:hover {
        transform: scale(1.02);
      }
    }
  }
}
