.header{
    width:100%;
    position: relative;
}
.header>img{
    width:100%;
    height: auto;

}
.header>h1{
position: absolute;
left:50%;
top:40%;
transform: translate(-50%,-50%);
font-weight: 800;
font-size: 5rem;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
color: rgb(194, 212, 228);
letter-spacing: .3rem;
}
.description{
display: flex;
width: 100%;
flex-direction: column;
justify-items: center;
align-content: center;
justify-content: center;
align-items: center;
padding: 2rem 15rem;

}
.description>img{
    width:6rem;
    height: auto;
    opacity: .4;
}
.description>p{
    font-size:1rem;
    line-height: 2rem;
    color: rgba(0,0,0,0.6);
}
.slide-container{
    display: flex;
    align-content: space-around;
}
.slide-container>.slide:first-of-type>img{
   
}
